:root {
    --ease-color-bg-default: #fff;
    --ease-color-bg-secondary: #f2f5f8;
    --ease-color-fg-default: #1e293b;
    --ease-color-fg-primary: #2e6fda;
    --ease-color-fg-secondary: #64748b;
    --ease-color-fg-selected: #fff;
    --ease-color-fg-muted: #64748b;
    --ease-color-fg-accent: #e63757;
    --ease-color-btn-primary-bg: #2e6fda;
    --ease-color-btn-primary-fg: #fff;
    --ease-color-btn-primary-border: #2e6fda;
    --ease-color-btn-primary-hover-bg: #2c67cd;
    --ease-color-btn-primary-hover-fg: #fff;
    --ease-color-btn-primary-hover-border: #2c67cd;
    --ease-color-btn-primary-disabled-bg: #80aff8;
    --ease-color-btn-primary-disabled-fg: #fff;
    --ease-color-btn-primary-disabled-border: #80aff8;
    --ease-color-btn-secondary-bg: #fff;
    --ease-color-btn-secondary-fg: #475569;
    --ease-color-btn-secondary-border: #cbd5e1;
    --ease-color-btn-secondary-hover-bg: #f8fafc;
    --ease-color-btn-secondary-hover-fg: #475569;
    --ease-color-btn-secondary-hover-border: #cbd5e1;
    --ease-color-btn-secondary-disabled-bg: #cbd5e1;
    --ease-color-btn-secondary-disabled-fg: #fff;
    --ease-color-btn-secondary-disabled-border: #cbd5e1;
    --ease-color-border-default: #cbd5e1;
    --ease-color-border-locked: #f9f9f9;
    --ease-day-width: 43px;
    --ease-day-height: 37px;
    --ease-z-index: 40;
    --ease-border-radius: 2px;
    --ease-primary-color: #2e6fda;
    --ease-secondary-color: #64748b;
    --ease-font-family: inherit;
    --ease-box-shadow: 0 4px 28px 0 rgb(0 0 0 / 12%);
    --ease-month-name-font-weight: 700;
    --ease-focus-color: #94a3b8;
    --ease-select-outline-color: #e5e7eb;
    --ease-color-fg-locked: #9e9e9e;
    --ease-color-bg-locked: #ffab91;
    --ease-color-bg-unavailable: #f9f9f9;
    --ease-color-bg-inrange: #e6effe;
    --ease-color-bg-tooltip: #fff;
    --ease-color-fg-tooltip: #1e293b;
  }
