.accordion-button {
    padding: .5rem .6rem .5rem .75rem;
}

.listbox-custom {
    max-height: 230px;
    min-height: 230px;
    overflow-y: auto;
}

.list-group-item {
    border: none;
    /* Remove border */
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}



.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}

/* Hide markers on slider handles */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}

.slider-styled .noUi-connect {
    background: darkseagreen;
}

.slider-styled .noUi-handle .noUi-touch-area {
    border: 1px solid transparent;
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    width: auto;
    height: auto;
}



/* Show a border when hovering the area the handle responds to */
.slider-styled .noUi-handle:hover .noUi-touch-area {
    border: 1px dashed #7f7f7f;
}


.slider-box-handle {
    border-radius: 0;
}

.slider-box-handle .noUi-handle {
    border-radius: 0;
    background: black;
    height: 18px;
    width: 4px;
    top: -1px;
    right: -2px;
}


.slider-hide .noUi-tooltip {
    display: none;
}

.slider-hide .noUi-active .noUi-tooltip {
    display: block;
}


.slider-no-handle .noUi-handle {
    visibility: hidden;
}

.slider-styled .noUi-value-horizontal {
    -webkit-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px);
    writing-mode: vertical-lr;
}

.active-pip {
    font-weight: bold;
    color: black;
}

.noUi-pips-horizontal {
    margin-top: -6pt;
}

.noUi-value-large {
    font-size: small;
    margin-top: -6pt;
}

.noUi-value-sub {
    font-size: x-small;
}


.accordion-button {
    background-color: transparent;
    color: #343a40;
    /* Dark text */
    border: 1px solid #343a40;
    /* Dark border */
    font-weight: bold;
    /* text-transform: uppercase; */

}

.accordion-button:not(.collapsed) {
    color: #f8f9fa;
    /* Light text */
    background-color: #343a40;
    /* Dark background */
    border-color: #343a40;
    /* Dark border */
    box-shadow: none;
}

.accordion-button::after {
    display: none;
    /* Remove default caret */
}


.accordion-body {
    background-color: rgba(248, 249, 250, 0.8);
    /* Light background with transparency */
    color: #343a40;
    /* Dark text */
    border: 1px solid #343a40;
    /* Dark border */
}

.accordion-item {
    border: none;
    /* Remove default border */
    margin-bottom: 1rem;
}

.nested-accordion .accordion-body {
    background-color: rgba(248, 249, 250, 0.8);
    /* Slightly darker background for nested accordions */
}

.preview-table th,
.preview-table td {
    border: 1px solid black;
    padding-left: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.preview-table th {
    background-color: #343a40;
    color: white;
}


/* Center loading spinner */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* semi-transparent white */
    z-index: 99999;
    /* Ensure it's on top */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}


/* Accordion handling */
.accordion-body {
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    opacity: 1;
}


.accordion-body.fade {
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    opacity: 0;
}

.accordion-hideable {
    transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    opacity: 1;
}


.accordion-hideable.fade {
    transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -webkit-transition: .1s ease-in-out;
    opacity: 0;
}